#img-doacao{
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 40rem;
    border-top: .2rem solid #FFB300;
    border-bottom: .2rem solid #FFB300;
    margin-top: -.2rem;
}
#titulo{
    position: absolute;
    color: #FFB300;
    font-family: JM;
    font-weight: 200;
    font-size: 3rem;
    z-index: 2;
    top: 163%;
    margin: 0 0 0 10rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
}
#texto-ajuda{
    position: absolute;
    color: white;
    font-family: AC;
    font-size: 2rem;
    font-weight: 100;
    top: 174%;
    z-index: 2;
    margin: 0 0 0 10rem;
    width: 45rem;
} 
#btn-ajuda button{
    color: white;
    font-family: AC;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.36);
    border: white solid .2rem;
    padding: 1.3rem 4.4rem;
    text-transform: uppercase;
}
#btn-ajuda button:hover{
    color: #FFB300;
    background-color: rgba(255, 179, 0, 0.36);
    border: #FFB300 solid .2rem;
}

