.jogo-principal {
    position: relative; /* Para posicionar os elementos dentro dele */
    text-align: center; /* Alinha o texto ao centro */
}

.fundo {
    width: 100%;
    height: 75rem;
    object-fit: cover; /* Fixa a imagem dentro do contêiner */
}
.logo{
    margin: 15rem 0 0 15rem;
    height: 20rem;
    width: 20rem;
    position: absolute;
    z-index: 1;
}
.logo{
    color: white;
}