.jogo-principal {
    position: relative; /* Para posicionar os elementos dentro dele */
}
.fundo {
    width: 100%;
    height: 75rem;
    object-fit: cover; /* Fixa a imagem dentro do contêiner */
}
.logo{
    height: 25rem;
    width: 25rem;
    position: absolute;
    z-index: 1;
    top: 10%;
    margin-left: 16rem;
}
.logo{
    color: white;
}
.nome-2{
    font-size: 10rem;
    font-weight: 600;
}
.nome-1, .nome-2 {
    position: absolute; /* Adicionando posição absoluta */
    color: white; /* Certificando que a cor é branca */
    z-index: 2; /* Mais alto para estar acima da imagem de fundo */
    font-family: RQ; 
}
.nome-1{
    top: 45%;
    font-weight: 50;
    font-size: 2.15rem;
    margin-left: 14rem;
    margin-bottom: -4rem;
    display: flex;
    flex-direction: column;
    letter-spacing: .4rem;
    
}
.nome-2{
    top: 47%;
    font-weight: 900;
    font-size: 7.5rem;
    margin-left: 14rem;
    display: flex;
    flex-direction: column;
    
}
.sinopse-1, .sinopse-2{
    color: white;
    font-family: AC;
    position: absolute;
    z-index: 2;
    font-size: 1.5rem;
    word-spacing: 1rem;
    letter-spacing: .2rem;
}
.sinopse-1{
    top: 64%;
    margin-left: 12rem;
}
.sinopse-2{
    top: 66%;
    margin-left: 14rem;
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* column-gap: 10rem; */
    
}
.btn-teste, .btn-visite{ 
    border-radius: .3rem;
    z-index: 2; 
    padding: 1.3rem 4.4rem;
    font-family: JMEB;
    font-size: 1.5rem;
    border: white solid .1rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.36);
    text-transform: uppercase;
}
.btn-teste{
    margin-left: 7rem;
    position: absolute;
    top: 73%;
}
.btn-visite{
    margin-left: 3rem;
    position: absolute;
    top: 73%;
    right: 57%;
}
.btn-teste:hover, .btn-visite:hover{
    transition: all .3s ease-in;
    font-family: JMEB;
    border: #FFB300 solid .1rem;
    color: #FFB300;
    background-color: hsla(42, 100%, 50%, 0.36)
}
/*-------------------------------------------------------------------------*/
.titulo-noticias{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
    color: white;
    font-size: 2rem;
    font-family: AC;
    text-transform: uppercase;

}