#jogo-principal {
    position: relative; /* Para posicionar os elementos dentro dele */
}
#imgm-fundo {
    z-index: 0;
    margin-top: -.1rem;
    width: 100%;
    height: 75rem;
    object-fit: cover; /* Fixa a imagem dentro do contêiner */
}
#logm-game{
    height: 18rem;
    width: 18rem;
    position: absolute;
    z-index: 1;
    top: 20%;
    margin-left: 20rem;
}
#logm-game{
    color: white;
}
#logm-pt2{
    font-size: 5rem;
    font-weight: 600;
}
#logm-pt1, #logm-pt2{
    position: absolute; /* Adicionando posição absoluta */
    color: white; /* Certificando que a cor é branca */
    z-index: 2; /* Mais alto para estar acima da imagem de fundo */
    font-family: RQ; 
}
#logm-pt1{
    top: 45%;
    font-weight: 50;
    font-size: 1.3rem;
    margin-left: 18.5rem;
    margin-bottom: -4rem;
    display: flex;
    flex-direction: column;
    letter-spacing: .4rem;
    
}
#logm-pt2{
    top: 47%;
    font-weight: 900;
    font-size: 5rem;
    margin-left: 18.5rem;
    display: flex;
    flex-direction: column;
    
}
#sinm-pt1, #sinm-pt2{
    color: white;
    font-family: AC;
    position: absolute;
    z-index: 2;
    font-size: 1.3rem;
    word-spacing: 1rem;
    letter-spacing: .2rem;
}
#sinm-pt1{
    top: 60%;
    margin-left: 14rem;
}
#sinm-pt2{
    top: 62.5%;
    margin-left: 17rem;
}
#btnm-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#btnm-teste, #btnm-visite{ 
    border-radius: .3rem;
    z-index: 2; 
    padding: 1rem 3.4rem;
    font-family: JMEB;
    font-size: 1.3rem;
    border: white solid .1rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.36);
    text-transform: uppercase;
    top: 70%;
}
#btnm-teste{
    margin-left: 11rem;
    position: absolute;
}
#btnm-visite{
    margin-left: 3rem;
    position: absolute;
    margin-left: 30rem;
}
#btnm-teste:hover, #btnm-visite:hover{
    transition: all .2s ease-in;
    font-family: JMEB;
    border: #FFB300 solid .1rem;
    color: #FFB300;
    background-color: hsla(42, 100%, 50%, 0.36)
}
